# Google App Engine generated folder
appengine-generated/
.DS_Store
*.clasp.json

.idea/

# Ignore all dotfiles by default
.*

# But include specific config files
!.gitignore
!.editorconfig
!.prettierrc
!.eslintrc*
!.nvmrc
!.vscode/
!.github/
